body{
    font-family: 'Open Sans', sans-serif;
}

#home-banner{
    background: url(../img/home-banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

#button{
    border-radius: 10px;
}
.home-button{
    border-radius: 12px;
    color: #fff;
    background-color: #4C84C3;
     border-color: #4C84C3;
}
.home-text{
    top: 30%;
    left: 60%;
}
.slider{
    top: 90%;
    left: 80%;
}
.specialty-section{
    margin-top: 100px;
}
.text-1{
    margin-bottom: 80px;
}
.slider-section{
    margin-bottom: 100px;
}
@media screen and (max-width: 769px) {
    .slider img{
        width: 40px;
        left: 30%;
    }
}
@media screen and (max-width: 426px) {
    .slider img{
        width: 20px;
    }
    .home-button{
        font-size: 12px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .home-text{
        left: 55%;
    }
}
@media screen and (max-width: 321px) {
    .home-button{
        font-size: 12px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .home-text{
        left: 45%;
    }
    .slider img{
        width: 10px;
    }
}